<footer>
  <div class="py-12">
    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      <span x-text="year"></span>: Contact Mag at: 
      <a
        class="text-base-900 underline hover:text-accent-400"
        href="https://www.google.com/"
      >
        magauthor1@gmail.com
      </a>
  
    </p>
  </div>
</footer>
